.options {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 85px;
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media(max-width: 440px) {
            justify-content: center;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        & img {
            margin-right: 24px;
        }
        @media(max-width:800px) {
            width: 50%;
            justify-content: start;
        }
        @media(max-width:440px) {
            width: 60%;
        }
        @media(max-width:400px) {
            width: 90%;
        }
    }
    @media(max-width:800px) {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

.items__inner {
    & h5 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 150%;
        color: #3A3A3A;
        margin-bottom: 2px;
    }
    & p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #898989;
    }
}